* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(90deg, rgb(5, 57, 160) 0%, rgb(21, 94, 178) 100%);
}
.tvshow-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 90vw;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.button-add {
  color: whitesmoke;
  border: 2px solid whitesmoke;
  background-color: rgba(56, 55, 52, 0);
  border-radius: 30%;
  padding: 10px 20px;
  margin: 10px 50px 10px auto;
  font-weight: bolder;
}

.button-add:hover {
  color: rgb(21, 15, 57);
  border: 2px solid whitesmoke;
  background-color: rgb(134, 246, 170);
  cursor: pointer;
}

.tvshow-form {
  padding: 40px;
  margin: 32px auto;
}

.tvshow-input {
  padding: 14px 32px 14px 16px;
  border-radius: 8px;
  border: 2px solid #5d0cff;
  outline: none;
  max-width: 620px;
  background: transparent;
  color: #fff;
  margin: 10px;
}

.tvshow-label {
  color: whitesmoke;
  margin: 30px auto 5px 10px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.tvshow-input::placeholder {
  color: #e2e2e2;
}

.error-message {
  color: rgb(113, 5, 5);
  background-color: rgba(249, 249, 249, 0.628);
  padding: 10px;
  max-width: 300px;
  margin: 0px auto;
  font-weight: bolder;
}

.tvshow-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  margin: 30px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.tvshow-input.edit {
  border: 2px solid #ffa72c;
}

.tvshow-button.edit {
  background: linear-gradient(90deg, #7e5d0a 0%, #8d510b 100%);
  padding: 16px 22px;
}

.tvshow-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.tvshow-text {
  min-width: 100px !important;
  line-break: anywhere;
  margin: 0px 10px;
}

.tvshow-text:hover {
  cursor: pointer;
}

hr {
  margin: 20px 0px;
}

.tvshow-list-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tvshow-text.title {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.tvshow-text.release {
  font-size: 20px;
  margin-bottom: 20px;
}

.tvshow-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;

  color: #fff;
  background-color: #161a2b07;
  border: 2px solid whitesmoke;

  padding: 16px;
  border-radius: 5px;
  width: 50%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
