* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(233, 34, 34) 0%,
    rgb(49, 1, 45) 100%
  );
}
.tvshow-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 90vw;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.button-add {
  padding: 20px;
  margin: 10px auto;
  background-color: rgb(132, 208, 18);
  border: none;
  border-radius: 10%;
  font-weight: bolder;
}

.tvshow-form {
  padding: 40px;
  margin-bottom: 32px;
}

.tvshow-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  max-width: 320px;
  background: transparent;
  color: #fff;
  margin: 10px;
}

.tvshow-input::placeholder {
  color: #e2e2e2;
}

.error-message {
  color: rgb(113, 5, 5);
  background-color: rgba(249, 249, 249, 0.628);
  padding: 10px;
  max-width: 300px;
  margin: 0px auto;
  font-weight: bolder;
}

.tvshow-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  margin: 30px;  
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.tvshow-input.edit {
  border: 2px solid #149fff;
}

.tvshow-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.tvshow-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.tvshow-text:hover {
  cursor: pointer;
}

.tvshow-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.tvshow-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.tvshow-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.tvshow-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
